<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://127.0.0.1:8000/">InstaProject</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
            <!--span class="input-group-addon">@</span-->
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h1 class="text-left">Search for?</h1>
    <p class="text-left"> hi </p> 
    <img src="https://api.qrserver.com/v1/create-qr-code/?data=Hello%20Manuel&amp;size=50x50"/>
    <form action="handle" method="get"> 
      <input type="text" id="brand" name="search" placeholder={{search}} ><br>
    <button id="submit-btn" class="btn btn-primary btn-xs" href="#" role="button">Submit &raquo;</button> 
    </form> 
  </div>
</div>

<div class="container" id="results">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Best Performing Post</h2>
      <img src= "<span id=bestPic> </span>"> 
      <p>The best performing post for the last 10 posts (not including the most recent) is: <span id="bestLikes"></span></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Total Number of Likes</h2>
      <p>The total number of likes for the last 10 posts (not including the most recent) is: <span id="totalL"> </span> </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Total Number of Comments</h2>
      <p>The total number of Comments for the last 10 posts (not including the most recent) is: <span id="totlC"> </span> </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>